body {
    background-color: lightgreen;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkgreen;
}

p {
    font-size: 17px;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
}


img {
    width: 400px;
    max-width: 100%;
    margin-top: 20px;
}